.nav-wrapper{
    background-color: rgb(105, 170, 68);
    border-radius: 0 0 20px 20px;
    height: 40px;
    padding: 20px;
    color: white;
    position: sticky;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-buttons{
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: flex-end;
}
li {
    list-style: none;
    display: inline-block;
    width: calc(100% / 5);
    height: 120px;
    text-align: center;
  }
.textLogo{
    flex: 1;
    padding:10px;
    color: white;
    font-size: 20px;
}