.container3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.projectTitle{
    padding: 20px;
    border-radius: 15px;
    width: 70%;
    margin: 20px auto;
    background-color: #686de0;
    color: white;
    font-size:40px;
        
}

.projectList{
    border: 5px solid rgb(54, 50, 50);
    border-radius: 10px;
    width: 70%;
    margin: 0 auto;

}
.btn-sort{
    padding: 20px;
    display:flex;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
    
}
